<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-2 text-center">Simple Clean Analytics</h1>
        </div>
    </div>
</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                SharpCounter is an open source web analytics
                platform available as a hosted service (free for non-commercial use)
                or self-hosted app. This project was inspired by
                <a href="https://www.goatcounter.com/">goatcounter</a>.
                SharpCount wants to be a dead simple way for anyone to
                track metrics about this web app.
            </p>
        </blockquote>
    </div>
    <div class="col-md-2">

    </div>

</div>

<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4">Features</h1>
        </div>
    </div>
    <div class="col-md-3">

    </div>

</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <i class="far fa-times-circle fa-5x"></i>
        </div>
        <div style="padding-top:10px;padding-bottom:5px;"></div>
        <div class="text-center">
            <h3>No GDPR, CCPA, or PECR</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <i class="fas fa-chart-line fa-5x"></i>
        </div>
        <div style="padding-top:10px;padding-bottom:5px;"></div>
        <div class="text-center">
            <h3>We show you the essentials: page views, referrers, top pages, and screen sizes</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <i class="fas fa-exclamation-circle fa-5x"></i>
        </div>
        <div style="padding-top:10px;padding-bottom:5px;"></div>
        <div class="text-center">
            <h3>We won't ever sell your data. </h3>
        </div>

    </div>
</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <a class="btn btn-lg btn-block btn-danger" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">

        <div class="text-center">
            <h1 class="display-4">Simple</h1>
        </div>
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                A single line of code to add to your site
            </p>
        </blockquote>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4">Clean</h1>
        </div>
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                Only a few key metrics to make actionable changes to better serve your users
            </p>
        </blockquote>
    </div>
    <div class="col-md-3">

    </div>

</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4">Easy to Use</h1>
        </div>
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                A straight forward dashboard anyone can use & understand
            </p>
        </blockquote>
    </div>
    <div class="col-md-3">

    </div>

</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div style="padding-top:20px;padding-bottom:20px;"></div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="text-center">
            <h1 class="display-4">Why this product exists</h1>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                I wanted to challenge myself, and learn more about what goes into a web analytics platform.
            </p>
        </blockquote>
    </div>
    <div class="col-md-2">

    </div>

</div>