@model IEnumerable<SharpCounter.Enities.WebSites>

@{
    ViewData["Title"] = "Index";
}
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>
    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style>
<div id="toolbar">
    <button id="remove" class="btn btn-danger" disabled>
        <i class="glyphicon glyphicon-remove"></i> Delete
    </button>
</div>
<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-show-columns-toggle-all="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-response-handler="responseHandler">
    <thead>
        <tr>
            <th data-field="Id">ID</th>
            <th data-field="Name">Name</th>
            <th data-field="APIKey">API Key</th>
            <th data-field="HomePageLink">Home Page Link</th>
            <th data-field="UpdatedAt">Updated At</th>
            <th data-field="CreatedAt">Created At</th>
        </tr>
    </thead>
</table>
@section Scripts{

    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script>
        var $table = $('#table')
        var data =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ToList()) as String)
        $table.bootstrapTable({ data: data })
    </script>
}