@model SharpCounter.Enities.WebSites
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="text-center">
            <h5 class="display-4">@Model.Name</h5>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="spacer">

</div>
<div class="row align-items-center">
    <div class="col-3 col-md-5"></div>
    <div class="col-5 col-md-4">
        <div class="btn-group" role="group">
            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-4 col-md-4"></div>
</div>
<div class="spacer">

</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="text-center">
            <h1>Statistics For The Last 30 Mins</h1>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="spacer">

</div>
<div class="row">
    <div class="col-12">
        <div id="InteractionStats-text"></div>
        <canvas id="bar-chart-InteractionStats" width="130" height="50"></canvas>
    </div>
</div>
<div class="spacer">

</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div id="BrowserStats-text"></div>
        <canvas id="bar-chart-BrowserStats" width="100" height="50"></canvas>
    </div>
    <div class="col-12 col-md-6">
        <div id="SystemStats-text"></div>
        <canvas id="bar-chart-SystemStats" width="100" height="50"></canvas>
    </div>
</div>
<div class="spacer">

</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div id="ScreenStats-text"></div>
        <canvas id="bar-chart-ScreenStats" width="100" height="50"></canvas>
    </div>
    <div class="col-12 col-md-6">
        <div id="LocationStats-text"></div>
        <canvas id="bar-chart-LocationStats" width="100" height="50"></canvas>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
            integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js" integrity="sha512-yocoLferfPbcwpCMr8v/B0AB4SWpJlouBwgE0D3ZHaiP1nuu5djZclFEIj9znuqghaZ3tdCMRrreLoM8km+jIQ==" crossorigin="anonymous"></script>
    <script src="~/js/detailsChart.js" asp-append-version="true" data-website-id="@Model.Id"></script>
}
