<div class="page page-collect">
    <h2>What We Collect</h2>
    <p><em>11 August 2020</em></p>
    <p><em>Based on privacy policy from GoatCounter.com</em></p>
    <p>The following information is collected:</p>
    <ul>
        <li>URL of the visited page.</li>
        <li><code>Referer</code> header.</li>
        <li><code>User-Agent</code> header.</li>
        <li>Screen size.</li>
        <li>Country name based on IP address.</li>
        <li>A hash of the IP address, User-Agent, and random number.</li>
    </ul>

    <p>
        No personal information (such as IP address) is collected; a hash of the IP
        address, User-Agent, and a random number (“salt”) is kept in the process memory
        for 8 hours at the most to identify a browsing session.
    </p>

    <p>
        The exception to this are requests which are deemed to be coming from a bot,
        in which case the IP address will be stored temporarily for the purpose of
        blocking botnets, hosting providers, and other types of abuse.
    </p>

    <p>There is no information stored in the browser with cookies.</p>
</div>