<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SharpCounter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lumen/bootstrap.min.css" integrity="sha384-VMuWne6iwiifi8iEWNZMw8sDatgb6ntBpBIr67q0rZAyOQwfu/VKpnFntQrjxB5W" crossorigin="anonymous">    
    <link rel="stylesheet" href="~/css/site.min.css" />                                                                                                                                                                                                            
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" /></head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white"  style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand h5" asp-area="" asp-controller="Home" asp-action="Index" style="color: dimgrey; font-size: xx-large;">SharpCounter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-2x" style="color: dimgrey;"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarToggler">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">SharpCounter © 2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Privacy</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-controller="Home" asp-action="WhatWeCollect">What we collect</a></li>
                        <li><a class="text-muted" asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Product</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-controller="Home" asp-action="StatusPage">Status</a></li>
                        
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Learn</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted"  asp-controller="Home" asp-action="Documentation">Documentation</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="~/js/prod/site.min.js"></script>
    <script defer src="~/js/prod/count.min.js" data-sharpcounter="https://sharp-counter.experimentsinthedeep.com/api/Interaction/Count" data-sharpcounter-apikey="9cdfb14e-4949-4201-81da-f741d9d1ab10">
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
